.heya li a:hover{
    color: red;
}
.heya li a{
    color: green;
}
.nav-menu, .nav-menu * {
margin: 0;
padding: 0;
list-style: none;
}

.nav-menu ul {
position: absolute;
display: none;
top: 100%;
left: 0;
z-index: 99;
}
input[type=text]:focus{
width: 300px;
}

.nav-menu li {
position: relative;
white-space: nowrap;

}

.nav-menu > li {
float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
display: block;
}

.nav-menu ul ul {
top: 0;
left: 100%;
}

.nav-menu ul li {
min-width: 180px;
}
#nav-menu-container {
float: left;


}
.nav-menu a {
background-color: rgb(35, 179, 223);
padding: 6px 8px 6px 8px;
border: rgb(3, 1, 1) 0.2px solid;
text-decoration: none;
display: inline-block;
color: rgb(2, 0, 0);
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 14px;
outline: none;
}
.nav-menu > li {
margin-left: 2px;
padding-top: 5px;
margin-right: 2px ;

}

.nav-menu ul {
margin: 4px 0 0 0;
padding: 2px;
box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
background:rgb(0, 0, 0);

}


.nav-menu ul li {
transition: 0.3s;

}

.nav-menu ul li a {
padding: 2px;
color: #333;
transition: 0.3s;
display: block;
font-size: 13px;
text-transform: none;

}

.nav-menu li a:hover {
color: #fbff00;
}

.nav-menu ul ul {
margin: 0;
}